:root {
    background-color: aliceblue;
}

img.me,
img.winter,
img.shirt,
img.facebook,
img.insta {
max-width:100%;
}




.main-nav li {
    list-style-type: none;
    text-decoration: none;
    
}

a:hover {
    background-color: cadetblue;
    color: white;
    
}
a:visited {
    color:darkslategray;
}






@media (min-width 600px) {
    
    :root {background-color: teal;}
    .container {
        margin: 0 auto;
        width: 60%;
        background-color: aliceblue;
    }
    
    
    
    
    
    
    
    
}