:root {
    background-color: aliceblue;
}

/*font-face*/

@font-face {
    font-family: '../Fonts/LPSerif-Inline';
    src: url('../Fonts/LPSerif-Inline.eot') format('eot'),
        url('../Fonts/LPSerif-Inline.svg') format('svg'),
        url('../Fonts/LPSerif-Inline.ttf') format('ttf'),
        url('../Fonts/LPSerif-Inline.woff') format('woff');
}

@font-face {
    font-family: '../Fonts/LPSans-Regular';
    src: url('../Fonts/LPSans-Regular.eot') format('eot'),
        url('../Fonts/LPSans-Regular.svg') format('svg'),
        url('../Fonts/LPSans-Regular.ttf') format('ttf'),
        url('../Fonts/LPSans-Regular.woff') format('woff');
}

@font-face {
    font-family: '../Fonts/LPSerif-Regular';
    src: url('../Fonts/LPSerif-Regular.eot') format('eot'),
        url('../Fonts/LPSerif-Regular.svg') format('svg'),
        url('../Fonts/LPSerif-Regular.ttf') format('ttf'),
        url('../Fonts/LPSerif-Regular.woff') format('woff');
}

/*font family*/

h1,
.my-name {
    font-family: 'LPSerif-Inline', serif;
}

p {
    font-family: 'LPSans-Regular', sans-serif;
}

h3,
h2 {
    font-family: 'LPSerif-Regular', serif;
}

/*font-color*/

h1,
h2,
h3 {
    color: teal;
}

/*font-size*/

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 24pt;
}

.bio,
.my-name {
    font-size: 11.5pt;
}

/*text-alignment*/

h1,
h2 {
    text-align: center;
}

/*positioning*/

.header-container {
    position: relative;
}

h1 {
    position: absolute;
    top: -50px;
}

.P1,
.Home {
    position: relative;
    bottom: -40px
}

.P2 {
    position: relative;
    bottom: -15px;
}

.P3 {
    position: relative;
    bottom: 10px;
}

/*images*/

img.me,
img.winter,
img.shirt,
img.facebook,
img.insta,
img.poster {
max-width:100%;
}

img.me,
img.winter,
img.shirt,
img.poster {
    border: solid .5px darkslategray;
    padding: 3px;
    
}

/*link-properties*/

a:link {
    text-decoration: none;
}

a:active {
    color: teal;
}

a:hover:not(footer) {
   background-color: cadetblue;
    color:aliceblue;
    
}
a:visited {
    color:darkslategray;
}






@media (min-width 600px) {
    
    :root {background-color: teal;}
    .container {
        margin: 0 auto;
        width: 60%;
        background-color: aliceblue;
    }
    
    

    
    
    
    
    
    
    
    
}



