img.me,
img.winter,
img.shirt,
img.facebook,
img.insta {
max-width:100%;
}

@font-face {
    font-family: 'Cheers-Regular';
    src: url("Fonts/Cheers-Regular.woff") format('woff');
    src: url("Fonts/Cheers-Regular.svg") format('svg');
    src: url("Fonts/Cheers-Regular.ttf") format('ttf');
    src: url("Fonts/Cheers-Regular.eot") format('eot');
}
h1 {
    font-family: 'Cheers-Regular', cursive;
}


.main-nav {
    list-style-type: none;
    display: inline;
}
a {
    text-decoration: none;
    background: #000080;
    color:white;
    display:block;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color:purple;
}






@media (min-width 600px) {
    
    
    
    
    
    
    
    
}